# === all host settings ===
Host *
    ServerAliveInterval 15
    ServerAliveCountMax 10
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

# === ssh_hosts settings ===
{% for host in ssh_hosts %}
Host {{ host.name }}
  Hostname {{ host.ip }}
  User {{ host.user_indiv | default(false) | ternary(host.user, 'root') }}
  IdentityFile /keys/{{ host.key_indiv | default(false) | ternary(host.name, Default_key_name) }}.id_rsa

{% endfor %}
